<%- include("partials/header") %>

<input type="text" placeholder="Search blog...">
<button type="submit">New Post</button>

<div>
    <img>
    <h3>Blog Title</h3>
    <p>Description....</p>
    <p><i>dd/mm/yyyy HH:MM:ss</i></p>
</div>

<%- include("partials/footer") %>